# snippets for making snippets :)

snippet ###{
	### ${1:Section} {{{1

	${2}


### Simple Snippet
snippet sn
	snippet ${1:trigger}
		${2}

snippet snip
	snippet ${1:trigger}
		${2}

### Multiple Snippets
snippet snm
	snippet ${1:trigger} ${2:description}
		${3}

snippet msnip
	snippet ${1:trigger} ${2:description}
		${3}

